*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-wrap: wrap;
  background-color: dodgerblue;
  justify-content: center;
}

.App>div{
  background-color: #f1f1f1;
  text-align: center;
  width: 215px;
  margin: 10px;
  text-align: center;
  padding-top: 8px;
  font-size: 12px;
}

.button{
  width: 80px;
  height: 36px;
  margin-top: 18px;
}